---
import HomeCards from "../components/HomeCards.astro";
import HomeReviews from "../components/HomeReviews.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Tablas de verdad">
  <div class="wrapper bg-slate-50 w-full flex justify-center pt-2">
    <div class="container flex gap-5">
      <div class="intro w-full h-full flex flex-col justify-center gap-5">
        <div>
          <h1 class="title">
            El Compañero Definitivo para la Lógica Matemática
            <span class="highlight">Tablas de Verdad App</span>
          </h1>
          <p class="text-slate-600 subtitle">
            Una herramienta fácil de usar para estudiantes, ingenieros y
            cualquiera interesado en la lógica proposicional.
          </p>
          <div class="flex gap-5 mt-8">
            <a
              href="https://play.google.com/store/apps/details?id=com.jovannyrch.tablasdeverdad&hl=es&gl=US"
              target="_blank"
              class="btn btn-primary"
            >
              <img
                src="/images/get-it-on-google-play-badge.svg"
                alt=""
                srcset=""
                class="google-play-image"
              />
            </a>
          </div>
        </div>
        <div class="flex gap-10">
          <div class="flex-col">
            <div class="font-bold text-lg">200k+</div>
            <div class="text-slate-600">Descargas</div>
          </div>
          <div class="flex-col">
            <div class="font-bold text-lg">
              4.5
              <span class="text-slate-300">/ 5.0</span>
            </div>
            <div class="text-slate-600">Puntuación</div>
          </div>
        </div>
      </div>
      <div class="app-image w-full h-full flex items-center">
        <img src="/images/mockup.png" alt="app-mockup" />
      </div>
    </div>
  </div>
  <div class="view bg-slate-200 w-full flex justify-center items-center">
    <div class="container">
      <div class="flex justify-center mt-10">
        <h2 class="secction-title text-slate-800">
          Por Qué Elegir Tablas de Verdad App
        </h2>
      </div>
      <div class="flex gap-8 justify-center">
        <HomeReviews />
        <HomeCards />
      </div>
    </div>
  </div>
  <div class="view w-full bg-slate-50 flex justify-center items-center">
    <div class="container flex items-center justify-center flex-col gap-16">
      <h2 class="secction-title text-slate-800 w-1/2 text-center">
        Descarga Ahora y Lleva Tu Comprensión de la Lógica al Siguiente Nivel
      </h2>
      <div class="flex gap-3">
        <a
          class="bg-orange-500 hover:bg-orange-700 text-white font-bold px-4 py-2 rounded-full flex items-center justify-center"
          href="https://play.google.com/store/apps/details?id=com.jovannyrch.tablasdeverdad&hl=es&gl=US"
          rel="nofollow"
          target="_blank"
        >
          Descargar app
        </a>
        <a
          class="bg-orange-500 hover:bg-orange-700 text-white font-bold px-4 py-2 rounded-full flex align-middle justify-center"
          href="/calculator"
          rel="nofollow"
        >
          Calculadora en línea
        </a>
      </div>
    </div>
  </div>

  <style>
    .highlight {
      color: rgb(var(--accent));
    }

    .wrapper {
      min-height: calc(100vh - 80px);
    }

    .title {
      font-size: 40px;
    }

    .subtitle {
      font-size: 20px;
    }

    .intro {
    }

    .app-image img {
      height: 75vh;
    }

    .view {
      min-height: 100vh;
    }
    .secction-title {
      font-size: 40px;
    }
    .google-play-image {
      transform: translateX(-12px);
    }
  </style>
</Layout>
