<div class="px-10 py-5 flex gap-5 justify-center items-center bg-slate-900">
  <a href="/contact">Contacto</a>
  <a href="/privacidad">Política de privacidad</a>
</div>
<style>
  .logo img {
    height: 40px;
  }

  div {
    color: #fff;
    height: 80px;
  }
  li {
    height: 100%;
    display: flex;
    align-items: center;
  }
  li a {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 1rem;
  }
  li:hover {
    background-color: #2d3748;
  }
</style>
