<nav class="px-10 py-5 flex justify-between items-center bg-slate-900">
  <div class="flex items-center gap-2">
    <div class="logo">
      <a href="/">
        <img src="/images/logo.png" alt="Tablas de verdad" />
      </a>
    </div>
    <ul class="flex gap-4 h-full">
      <li><a class="" href="/">Inicio</a></li>
      <li><a href="/about">Acerca</a></li>
    </ul>
  </div>
  <div class="flex gap-3">
    <a
      class="bg-orange-500 hover:bg-orange-700 text-white font-bold px-4 py-2 rounded-full flex align-middle justify-center"
      href="/calculator"
      rel="nofollow"
    >
      Calculadora en línea
    </a>
    <a
      class="bg-orange-500 hover:bg-orange-700 text-white font-bold px-4 py-2 rounded-full flex items-center justify-center"
      href="https://play.google.com/store/apps/details?id=com.jovannyrch.tablasdeverdad&hl=es&gl=US"
      rel="nofollow"
      target="_blank"
    >
      Descargar app
    </a>
  </div>
</nav>
<style>
  .logo img {
    height: 40px;
  }

  nav {
    color: #fff;
    height: 80px;
  }
  li {
    height: 100%;
    display: flex;
    align-items: center;
  }
  li a {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 1rem;
  }
  li:hover {
    background-color: #2d3748;
  }
</style>
