---
import FeatureCard from "./FeatureCard.astro";
---

<div class="flex flex-col gap-10 w-1/2 justify-center items-center">
  <FeatureCard
    title="R치pido y Preciso"
    text="Introduce una preposici칩n l칩gica y obt칠n resultados instant치neos."
    icon="丘뫮잺"
  />
  <FeatureCard
    title="Variedad de Operadores"
    text="Soporta m치s de 15 operadores l칩gicos b치sicos y avanzados para una flexibilidad m치xima."
    icon="游댝"
  />
  <FeatureCard
    title="Altamente Valorado"
    text="Con una calificaci칩n de 4.5 en la Play Store y m치s de 200,000 descargas, somos la elecci칩n de confianza para resolver tablas de verdad."
    icon="游"
  />
</div>
